* {
    margin: 0;
    font-family: "Roboto";
}

/* Navbar innet */
.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #B50014;
    width: 100%;

}


.logo-item {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    z-index: 10;
}

.topnav {
    background-color: #B50014;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-left: 181px;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 35px 0 30px 0;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 16px;
}

.menu a.active {
    font-weight: bold;
}

.bottomnav {
    background-color: #252525;
    color: #f2f2f2;
}

.download {
    display: flex;
    align-items: center;
    gap: 5px;
}

.burger {
    display: none;
}


/* Navbar eddig */

/* First div w picture n text */
.mainpic {
    position: relative;
    display: flex;
}

.ftext {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #0000004D;
    max-width: 275px;
    padding: 67px 56px 42px 300px;
    color: #fff;
}

.ftext h1 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 38px;
}

.ftext p {
    font-weight: 100;
    line-height: 24px;
}

.mainpic img {
    height: auto;
    min-height: 679px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* First div w picture n text */

/*Dry aged*/

.dryaged {
    display: flex;
    background-color: #000;
    width: 100%;
    height: fit-content;
    justify-content: center;
    padding: 0 0 90px 0;
    flex-wrap: wrap-reverse;

}

.drytext {
    color: #fff;
    max-width: 540px;
    max-height: fit-content;
}

.drytext h2 {
    font-weight: 700;
    padding-top: 160px;
}

.drytext p {
    padding: 41px 0 0 0;
    font-weight: 100;
    margin-right: 125px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap:15px;

}

.drypic {
    max-width: 540px;
    max-height: fit-content;
    overflow: hidden;
}

.drybigpic {
    max-width: 100%;
    height: auto;
    padding: 114px 5px 15px 4px;
    object-fit: cover;
    object-position: center;

}

.drypiccontainer {
    width: 75%;
    height: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.drypiccontainer img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}


/*Dry aged vege*/

/*Grillcurse*/
.grilltextcontainer {
    width: 50%;
    background-color: #A62120;
}

.grilltext {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding-top: 128px;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: 36px;
    padding-bottom: 85px;
}

.grilltext h2 {
    font-size: 32px;
    padding-bottom: 29px;
    font-weight: 700;
    width: 30%;
    line-height: 42px;
}


.grillcurse {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.grillpic {
    width: 50%;
    object-position: center;
    object-fit: cover;
}

/*Grillcurse vege*/

/*Handwerk*/
.handwerkcontainer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.handtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 82px;

}

.handtext h2 {
    padding: 119px 0 16px 0;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.handtext h3 {
    padding-bottom:65px;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

.handtext p {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;

}

.handpics {
    display: grid;
    grid-column: auto;
    gap: 15px;
    padding: 46px 0 227px 0;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.handpics img {
    width: 262px;
    height: 243px;
}

.handline {
    width: 72px;
    height: 72px;
    transform: translate(0, -50%);
    z-index: 99;
    background-color: #000;
    padding: 7px;

}

.handwerkcontainer hr {
    width: 50%;
    border: 1px solid #535353;
    position: absolute;
    top: 0;
}

.hrcointainer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

/*Handwerk vege*/
/*Custom*/
.customecontainer {
    display: flex;
    flex-direction: row;
    max-height: 705px;
    height: fit-content;
}

.customimg {
    width: 50%;
    object-fit: cover;
    object-position: center;
}

.customtext {
    width: 50%;
    background-color: #A62120;
    color: #fff;
}

.customtext h2 {
    padding-top: 180px;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 124px;
}

.customtext h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 8px;
    padding-left: 124px;
    width: 50%;

}

.customtext p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 50%;
    padding: 33px 0 181px 124px;
}

/*Custom vege*/

/*Fleish*/
.fleish {
    height: 540px;
    background-color: #000;
    position: relative;
}

.fleishtext {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fleish img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Fleish vege*/
/*Genuss*/
.genusscontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    border: solid 1px;
    border-color: #000;
    height: fit-content;
    max-height: 455px;

    padding: 127px 0 127px 0;

}

.genusspic img {
    width: 100%;
}

.genusspic {}

.genusstext {
    color: #fff;
    min-width: 400px;
    width: fit-content;
}

.genusstext h2 {
    width: 60%;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;

}

.lentihr hr {
    width: 50%;
    border: 1px solid #535353;
    position: absolute;
    top: 0;
}

.lentihr {
    background-color: #000;
    border: solid 1px;
    border-color: #000;
}

.badges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 75px;
    background-color: #000;
    color: #fff;
    padding: 150px 0 136px 0;
}

.badges h2 {

    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;

}

.badge-item p {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}

.badge-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}

.badge-item p {
    width: 75%;
}

/*Genuss vege*/

/*Buttons*/

.redbutton {
    background-color: #A62120;
    border: solid 1px;
    border-color: #fff;
    color: white;
    align-items: center;
    border-radius: 40px;
    margin-top: 66px;
    padding: 12px 40px 13px 40px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.redbutton2 {
    background-color: #A62120;
    border: solid 1px;
    border-color: #fff;
    color: white;
    align-items: center;
    border-radius: 40px;
    padding: 12px 40px 13px 40px;
    margin-top: 35px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.redbutton3 {
    background-color: #A62120;
    border: solid 1px;
    border-color: #fff;
    color: white;
    align-items: center;
    border-radius: 40px;
    margin-top: 35px;
    font-weight: 400;
    display: flex;
    padding: 12px 40px 13px 40px;
    justify-content: center;
    width: 33%;
}

.whitebutton {
    border-radius: 40px;
    border: 1px solid #F00;
    background: #FFF;
    color: #000;
    font-weight: 400;
    align-items: center;
    border-radius: 40px;
    padding: 12px 58px 13px 58px;
    display: flex;
    justify-content: center;
    line-height: 1;
}

.whitebutton2 {
    border-radius: 40px;
    border: 1px solid #F00;
    background: #FFF;
    color: #000;
    font-weight: 400;
    align-items: center;
    border-radius: 40px;
    padding: 12px 40px 13px 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}


.hiddenftext {
    display: none;
}


@media screen and (max-width:1080px) {
    .handtext{
        width: 80%;
        padding-top: 62px;
    }
    .handtext h2{
        padding: 0;
        padding-bottom: 16px;
    }
    .grillcurse {
        flex-direction: column;
    }

    .grilltextcontainer {
        width: 100%;
    }

    .grillpic {
        width: 100%;
    }

    .mainpic {
        width: 100%;
    }

    .ftext {
        display: none;
    }

    .dryaged {
        width: 100%;
    }

    .drytext {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .drybigpic {
        padding: 15px;
        width: 100%;
    }

    .drypiccontainer {
        width: 100%;
    }

    .drypiccontainer img {
        height: 80%;
    }

    .hiddenftext {
        display: flex;
        padding: 15px 18px 10px 20px;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        width: 80%;

    }

    .hiddenftext h1 {
        color: #FFF;
        text-align: center;
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .hiddenftext p {
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;

    }

    .dryaged h2 {
        padding-top: 13px;
    }

    .dryaged p {
        margin-top: 33px;
        padding: 0;
        margin-right: 0px;
    }

    .dryaged {
        text-align: center;
    }

    .handpics {
        display: grid;
        gap: 15px;
        width: 90%;
        padding: 46px 0 227px 0;
        justify-content: center;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .handpics img {
        width: 100%;
        height: auto;
    }

    .customecontainer {
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
        width: 100%;
    }

    .customtext {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .customimg {
        width: 100%;
        max-height: 320px;
    }

    .customtext h2 {
        padding: 37px 70px 0 70px;
        width: 100%;
    }

    .customtext h3 {
        padding: 20px 55px 0 55px;
        width: 100%;
    }

    .customtext p {
        padding: 20px 0 30px 0;
        width: 90%;
    }



    .hrcointainer hr {
        width: 100%;
    }

    .burger {
        display: flex;
        width: 100%;
    }

    .menu {
        display: none;
    }

    .logo-item {
        display: flex;
    }

    .header-container {
        width: 100%;
    }

    .menubar {

        height: fit-content;
        padding: 20px 30px 22px 23px;
    }

    .logo-item-Burger {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
    }

    .burger-downld {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .burger-downld a img {
        width: 100%;
        height: 50px;
    }

    .burger-downld a {
        font-size: 23px;
        display: flex;
        align-items: center;
        gap: 6px;
        transform: translateY(5px);
        font-weight: 700;
        color: #FFF;
    }

    .drypic {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .grilltext h2{
        text-align: center;
        padding-bottom: 66px;
    }
    .grilltext{
        padding-top: 75px;
        text-align: center;
        list-style-position: inside;
    }
    .grilltext ul{
        padding: 0;
    }
    .whitebutton{
        margin-top: 50px;
    }

    .topnav {
        width: 100%;
    }
}

@media screen and (max-width:800px) {
    .logo-item-Burger {}
}

@media screen and (max-width:700px) {
    .drybigpic {
        padding-right: 15px;
        width: 100%;
    }

    .drypiccontainer {
        width: 80%;
        gap: 5px;
    }

    .drybigpic img {
        width: 80%;
    }

    .hiddenftext {
        padding: 15px 18px 0 18px;
        width: 100%;
    }

    .dryaged p {
        margin: 0;
        padding-top: 15px;
    }
}
@media screen and (max-width:743px)
{
    .grilltext h2 {
        width: 40%;
        padding-bottom: 66px;
    }
}
@media  screen and (max-width:558px) {
    .grilltext h2 {
        width: 50%;
        padding-bottom: 66px;
    }

}
@media screen and (max-width:600px) {
    .drytext{
        padding: 0 30px 0 30px;
    }
}


@media screen and (max-width:500px) {
    .drybigpic {
        width: 100%;
    }

    .drypiccontainer {
        width: 80%;
        height: 24%;
    }

    .drybigpic img {
        width: 66%;
        height: 290px;
        object-fit: cover;
        object-position: center;
    }

    .drypic {
        width: 100%;
    }

    .drytext {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 33px 0 33px;
    }
    .drytext p{
        padding-top: 33px;
    }
    .drytext h2{
        padding-bottom: 3px;
    }

    .grilltext ul{
        padding: 0;
        padding-bottom: 50px;   
    }
    .grilltext{
        text-align: center;
        list-style-position: inside;
    }
}
