* {
    margin: 0;
    font-family: "Roboto";
}

/* Navbar innet */
.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #B50014;
    width: 100%;

}


.logo-item {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    z-index: 10;
}

.topnav {
    background-color: #B50014;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-left: 181px;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 35px 0 30px 0;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;

}

.menu li {
    margin: 0 20px;
}

.menu a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 16px;
}

.menu a.active {
    font-weight: bold;
}

.bottomnav {
    background-color: #252525;
    color: #f2f2f2;
}

.download {
    display: flex;
    align-items: center;
    gap: 5px;
}


/* Navbar eddig */

/* First div w picture n text */
.mainpic {
    position: relative;
    display: flex;
}

.ftext {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #0000004D;
    max-width: 275px;
    padding: 67px 56px 42px 300px;
    color: #fff;
}

.ftext h1 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 38px;
}

.ftext p {
    font-weight: 100;
    line-height: 24px;
}

.mainpic img {
    height: auto;
    min-height: 679px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* First div w picture n text */

/*Dry aged*/

.dryaged {
    display: flex;
    background-color: #000;
    width: 100%;
    height: fit-content;
    justify-content: center;
    padding: 0 0 90px 0;
    flex-wrap: wrap-reverse;

}

.drytext {
    color: #fff;
    max-width: 540px;
    max-height: fit-content;
}

.drytext h2 {
    font-weight: 700;
    padding-top: 160px;
}

.drytext p {
    padding: 41px 0 0 0;
    font-weight: 100;
    margin-right: 125px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.drypic {
    max-width: 540px;
    max-height: fit-content;
    overflow: hidden;
}

.drybigpic {
    max-width: 100%;
    height: auto;
    padding: 114px 5px 15px 4px;
    object-fit: cover;
    object-position: center;

}

.drypiccontainer {
    width: 537px;
    height: 167px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.drypiccontainer img {
    width: 167px;
    height: 167px;
    object-fit: cover;
    object-position: center;
}


/*Dry aged vege*/

/*Grillcurse*/
.grilltextcontainer {
    width: 50%;
    background-color: #A62120;
}

.grilltext {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding-top: 128px;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: 36px;
    padding-bottom: 85px;
}

.grilltext h2 {
    font-size: 32px;
    padding-bottom: 29px;
    font-weight: 700;
    width: 231px;
    height: 92px;
    line-height: 42px;
}


.grillcurse {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.grillpic {
    width: 50%;
    object-position: center;
    object-fit: cover;
}

/*Grillcurse vege*/

/*Handwerk*/
.handwerkcontainer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.handtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 82px;

}

.handtext h2 {
    padding: 119px 0 16px 0;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 81.25% */
}

.p2 {
    padding: 0 0 65px 0;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.handtext p {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;

}

.handpics {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 46px 0 227px 0;
    overflow: hidden;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    flex-wrap: wrap;
}

.handpics img {
    width: 262px;
    height: 243px;
}

.handline {
    width: 50%;
}

/*Handwerk vege*/
/*Custom*/
.customecontainer {
    display: flex;
    flex-direction: row;
    max-height: 705px;
    height: fit-content;
}

.customimg {
    width: 50%;
    object-fit: cover;
    object-position: center;
}

.customtext {
    width: 50%;
    background-color: #A62120;
    color: #fff;
}

.customtext h2 {
    padding-top: 180px;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 124px;
}
.customtext h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 8px;
    padding-left: 124px;
    width: 50%;

}
.customtext p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 50%;
    padding: 33px 0 181px 124px;
}

/*Custom vege*/
/*Buttons*/

.redbutton {
    background-color: #ff0000;
    border: solid 1px;
    border-color: #fff;
    color: white;
    align-items: center;
    border-radius: 40px;
    width: 174px;
    height: 47px;
    margin-top: 66px;
    margin-right: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.redbutton2 {
    background-color: #ff0000;
    border: solid 1px;
    border-color: #fff;
    color: white;
    align-items: center;
    border-radius: 40px;
    width: 174px;
    height: 47px;
    margin-top: 35px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.whitebutton {
    border-radius: 40px;
    border: 1px solid #F00;
    background: #FFF;
    color: #000;
    font-weight: 400;
    align-items: center;
    border-radius: 40px;
    width: 174px;
    height: 47px;
    margin-top: 66px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
}

.hiddenftext {
    display: none;
}


@media screen and (max-width:1080px) {
    .grillcurse {
        flex-direction: column;
    }

    .grilltextcontainer {
        width: 100%;
    }

    .grillpic {
        width: 100%;
    }

    .mainpic {
        width: 100%;
    }

    .ftext {
        display: none;
    }

    .dryaged {
        width: 100%;
    }

    .drytext {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 35px 0 35px;
    }

    .drybigpic {
        padding: 0 5px 15px 4px;
        width: 100%;
    }

    .hiddenftext {
        display: flex;
        padding: 15px 15px 15px 15px;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }

    .hiddenftext h1 {
        color: #FFF;
        text-align: center;
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .hiddenftext p {
        padding: 15px 150px 0 150px;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
    }

    .dryaged h2 {
        padding-top: 13px;
    }

    .dryaged p {
        margin-top: 33px;
        padding: 0 0 0 0;
        margin-right: 0px;
    }

    .dryaged {
        text-align: center;
    }

    .handpics {
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
    }

    .handpics img {
        width: 100%;
        height: auto;
    }
    .customecontainer {
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
        width: 100%;
    }
    .customtext{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .customimg{
        width: 100%;
        max-height: 320px;
    }
    .customtext h2{
        padding: 37px 70px 0 70px;
        width: 100%;
    }
    .customtext h3{
        padding: 20px 55px 0 55px;
        width: 100%;
    }
    .customtext p{
        padding: 20px 0 30px 0;
        width: 90%;    
    }
    .buttons{
        flex-direction: column;
    }

}

@media screen and (max-width:800px) {
    .menu {}
}