* {
    margin: 0;
    font-family: "Roboto";
}

.mainpic {
    position:relative;
}
.ftext{
    position:absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #0000004D;
    max-width: 275px;
    padding: 67px 56px 42px 300px;
    color: #fff;
}
.ftext h1 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 38px;
}
.ftext p{
    font-weight:300;
    line-height: 24px;
}

.mainpic img {
    height: auto;
    min-height: 679px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Navbar innet */
.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #B50014;
    width: 100%;

}

.menu li > .logo-item{
    margin: 0;
}

.logo-item {
    position: absolute;
    left: 0;
    top:0;
    transform: translateX(-100%);
    z-index: 10;
}
.topnav {
    background-color: #B50014;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-left: 180px;
}
.menu {
    list-style: none;
    display: flex;
    align-items: center; 
    padding: 35px 0 30px 0;
    position: relative;
    flex-wrap: wrap;

}

.menu li {
    margin: 0 20px;
}

.menu a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 16px;
}

.menu a.active {
    font-weight: bold;
}

.bottomnav {
    background-color: #252525;
    color: #f2f2f2;
}
.download{
    display: flex;
    align-items: center;
    gap: 5px;
}


/* Navbar eddig */
